.login-header{
  position: relative;
  height: 56px;
  background-color: #2a2a2a;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  justify-content: center;
  i{
    position: absolute;
    left: 10px;
    font-size: 20px;
  }
  span{
    display: block;
    font-size: 20px;
  }
}